.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  word-break: break-word;
}

.accordion__item {
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;

  @include vp-767 {
    border-radius: 14px;
  }
}

.accordion__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 118px;
  padding: 32px 90px 32px 39px;
  border: none;
  background-color: $color-alabaster;
  text-align: start;
  border-radius: 16px;
  cursor: pointer;

  @include vp-1439 {
    min-height: 98px;
    padding: 23px 80px 25px 29px;
  }

  @include vp-767 {
    gap: 10px;
    min-height: 78px;
    padding: 19px 14px;
    border-radius: 14px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $color-default-white;
    outline-offset: 3px;
  }

  &:disabled {
    background-color: $color-mischka;
    pointer-events: none;
    user-select: none;
  }
}

.accordion__item span:first-of-type {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: $color-cerulean-blue;

  @include vp-1439 {
    font-size: 22px;
    line-height: 26px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

.accordion__btn:active span:first-of-type {
  color: $color-endeavour;
}

.accordion__btn:disabled span:first-of-type {
  color: $color-default-white;
  opacity: 0.6;
}

.accordion__btn-decor {
  position: absolute;
  right: 39px;
  top: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $color-cerulean-blue;
  border: 1px solid $color-cerulean-blue;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 18px;
    background-color: $color-default-white;
  }

  &::after {
    transform: rotate(-90deg);
  }

  @include vp-1439 {
    right: 29px;
    top: 29px;
  }

  @include vp-767 {
    position: relative;
    right: auto;
    top: auto;
    flex-shrink: 0;
  }
}


.accordion__btn:hover .accordion__btn-decor,
.accordion__btn:focus .accordion__btn-decor {
  background-color: $color-default-white;
  border-color: $color-cerulean-blue;

  &::after,
  &::before {
    background-color: $color-cerulean-blue;
  }
}

.accordion__btn:active .accordion__btn-decor {
  background-color: $color-endeavour;

  &::after,
  &::before {
    background-color: $color-default-white;
  }
}

.accordion__btn:disabled .accordion__btn-decor {
  background-color: $color-mischka;
  border-color: $color-mischka;

  &::after,
  &::before {
    opacity: 0.6;
  }
}

.accordion__content {
  padding: 0 39px;

  @include vp-1439 {
    padding: 0 29px;
  }

  @include vp-767 {
    padding: 0 14px;
  }
}

.accordion__item p {
  width: 72.78%;
  margin: 0;
  color: $color-alabaster;

  @include vp-1439 {
    width: 95%;
    font-size: 16px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}

.accordion__item br {
  @include vp-767 {
    display: none;
  }
}

.accordion__item.is-active .accordion__btn {
  min-height: 80px;
  padding: 41px 90px 17px 39px;
  background-color: $color-cerulean-blue;

  @include vp-1439 {
    min-height: 70px;
    padding: 35px 80px 24px 29px;
  }

  @include vp-767 {
    min-height: 60px;
    padding: 19px 14px 14px;
  }
}

.accordion__item.is-active span {
  color: $color-default-white;
}

.accordion__item.is-active .accordion__btn-decor {
  background-color: $color-default-white;
  border-color: $color-default-white;

  &::before {
    z-index: 1;
    background-color: $color-cerulean-blue;
  }
}

.accordion__item.is-active {
  padding: 0 0 32px;
  color: $color-default-white;
  background-color: $color-cerulean-blue;

  @include vp-1439 {
    padding: 0 0 25px;
  }

  @include vp-767 {
    padding: 0 0 15px;
  }
}

.accordion__item.is-active .accordion__btn:hover .accordion__btn-decor,
.accordion__item.is-active .accordion__btn:focus .accordion__btn-decor {
  background-color: $color-cerulean-blue;
  border-color: $color-default-white;

  &::before {
    background-color: $color-default-white;
  }

  &::after {
    display: none;
  }
}

.accordion__item.is-active .accordion__btn:active span:first-of-type {
  color: $color-default-white;
}

.accordion__item.is-active .accordion__btn:active,
.accordion__item.is-active .accordion__btn:active .accordion__btn-decor,
.accordion__item.is-active:has(.accordion__btn:active) {
  background-color: $color-endeavour;
  border-color: $color-endeavour;
}

.accordion__item.is-active .accordion__btn:active .accordion__btn-decor {
  border-color: $color-default-white;

  &::before {
    background-color: $color-default-white;
  }

  &::after {
    display: none;
  }
}

.accordion__item:has(.accordion__btn:disabled),
.accordion__item.is-active:has(.accordion__btn:disabled) {
  border-color: transparent;
  background-color: $color-mischka;
}


.accordion__item.is-active .accordion__btn:disabled,
.accordion__item.is-active .accordion__btn:disabled .accordion__btn-decor {
  background-color: $color-mischka;
}

.accordion__item.is-active .accordion__btn:disabled .accordion__btn-decor {
  background-color: $color-mischka;
  border-color: transparent;

  &::after {
    display: none;
  }

  &::before {
    background-color: $color-default-white;
  }
}
