.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 31px;
  min-height: 54px;
  width: fit-content;
  max-width: 100%;
  padding: 3px 3px 3px 29px;
  color: $color-cerulean-blue;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;
  user-select: none;
  transition: opacity $trans-default;
  border: 1px solid $color-cerulean-blue;
  border-radius: 30px;
  word-wrap: break-word;
  word-break: break-word;

  @include vp-767 {
    gap: 20px;
    min-height: 42px;
    padding: 3px 3px 3px 19px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }

  &:disabled {
    pointer-events: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-default-white;
    background-color: $color-cerulean-blue;
    outline-offset: 3px;
  }
}

.btn--primary {
  color: $color-default-white;
  border-color: $color-default-white;
  background-color: $color-cerulean-blue;

  &:hover,
  &:focus,
  &:active {
    color: $color-cerulean-blue;
    background-color: $color-default-white;
  }
}

.btn:disabled,
.btn.disabled {
  border-color: $color-mischka;
}

.btn__text {
  max-width: 75%;
  padding-left: 1px;
}

.btn:active .btn__text {
  opacity: 0.7;
}

.btn:disabled .btn__text,
.btn.disabled .btn__text {
  color: $color-mischka;
}

.btn__decor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  border-radius: 50%;

  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.btn:hover .btn__decor,
.btn:focus .btn__decor,
.btn:active .btn__decor {
  background-color: $color-default-white;
  color: $color-cerulean-blue;
}

.btn--primary:hover .btn__decor,
.btn--primary:focus .btn__decor,
.btn--primary:active .btn__decor {
  background-color: $color-cerulean-blue;
  color: $color-default-white;
}

.btn:hover .btn__decor svg,
.btn:focus .btn__decor svg,
.btn:active .btn__decor svg {
  transform: rotate(45deg);
}

.btn:active .btn__decor svg {
  opacity: 0.7;
}

.btn:disabled .btn__decor,
.btn.disabled .btn__decor {
  background-color: $color-mischka;
  color: rgba($color-default-white, $alpha: 0.6);
}

.btn--primary .btn__decor {
  background-color: $color-default-white;
  color: $color-cerulean-blue;
}
