.contact-form .container {
  @include vp-767 {
    padding: 0;
  }
}


.contact-form__inner {
  position: relative;
  z-index: 2;
  border-radius: 16px;
  background-color: $color-cerulean-blue;

  @include vp-767 {
    padding: 0 15px;
  }
}

.contacts-form__picture {
  left: 0;
  width: 100%;
  height: 100%;
}

.contacts-form__picture img {
  border-radius: 16px;
}

.contact-form__form-container {
  width: 40.16%;
  padding: 70px 74px 41px;

  @include vp-1439 {
    width: 65.19%;
    padding: 50px 45px 58px;
  }

  @include vp-767 {
    width: 100%;
    padding: 50px 15px;
  }
}
