.grants {
  padding: 120px 0;
  color: $color-default-white;
  background-color: $color-cerulean-blue;

  @include vp-1439 {
    padding: 98px 0 100px;
  }

  @include vp-767 {
    padding: 68px 0 67px;
  }
}

.grants__grid {
  display: grid;
  grid-template-columns: 43.91% 43.9%;
  gap: 138px;
  width: 91.45%;

  @include vp-1439 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  @include vp-767 {
    gap: 30px;
  }
}

.grants__left-column {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include vp-1439 {
    gap: 28px;
  }

  @include vp-767 {
    gap: 14px;
  }
}

.grants__left-column p {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 2px;
  }

  @include vp-1439 {
    width: 73.45%;
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @include vp-767 {
    width: 100%;
    font-size: 14px;

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }
}

.grants__left-column-picture {
  max-width: 498px;
  max-height: 363px;

  @include vp-1439 {
    max-width: 100%;
    max-height: 375px;
  }

  @include vp-767 {
    max-height: 200px;
  }
}

.grants__left-column-picture img {
  border-radius: 16px;
}

.grants__list-title {
  margin: 0;
  padding-top: 8px;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;

  &:not(:last-child) {
    margin-bottom: 38px;
  }

  @include vp-1439 {
    padding-top: 5px;
    font-size: 28px;
    line-height: 28px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.grants__info-list {
  display: grid;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: verse 0;

  @include vp-1439 {
    grid-template-columns: 1fr 1fr;
    gap: 8px 27px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 9px;
  }
}

.grants__info-list li {
  display: flex;
  counter-increment: verse 1;
}
