.nav__btn {
  gap: 20px;
  padding: 3px 3px 3px 19px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;
  background-color: $color-default-white;

}

.nav__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  width: 46px;
  height: 46px;
  background-color: $color-cerulean-blue;
  border-radius: 50%;
}

.nav__toggle-decor {
  width: 18px;
  height: 1px;
  background-color: $color-default-white;

  &:nth-child(1n) {
    top: 18px;
  }

  &:nth-child(2n) {
    top: 12px;
  }

  &:nth-child(3n) {
    top: 20.25px;
  }
}
