.nav {
  display: flex;
  z-index: 1;
  transition: all $trans-default;
}

.nav--primary {
  flex-direction: column;
  gap: 4px;
  max-width: 142px;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1000vw;
    max-height: 0;
    background-color: rgba($color-black-pearl, 0.4);
    transition: opacity 0.5s ease, max-height 0.5s ease;
    opacity: 0;
  }
}

.nav__btn {
  width: 100%;
  gap: 20px;
  max-width: 134px;
  margin-left: 8px;
  padding: 3px 3px 3px 18px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  background-color: $color-default-white;
}

.nav__btn .btn__text {
  width: fit-content;
}

.nav__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  gap: 3px;
  width: 46px;
  height: 46px;
  background-color: $color-cerulean-blue;
  border-radius: 50%;
}

.nav__btn:hover .nav__toggle,
.nav__btn:focus .nav__toggle,
.nav__btn:active .nav__toggle {
  background-color: $color-default-white;
}

.nav__btn:disabled .nav__toggle {
  background-color: $color-mischka;
}

.nav__toggle-decor {
  width: 18px;
  height: 1px;
  background-color: $color-default-white;
  transition: transform $trans-default;
}

.nav__btn:hover .nav__toggle-decor,
.nav__btn:focus .nav__toggle-decor,
.nav__btn:active .nav__toggle-decor {
  background-color: $color-cerulean-blue;
}

.nav__btn:active .nav__toggle-decor {
  opacity: 0.7;
}

.nav__btn:disabled .nav__toggle-decor {
  opacity: 0.6;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1439 {
    gap: 15px;
  }

  @include vp-767 {
    justify-content: center;
    gap: 4px 30px;
  }
}

.nav--primary .nav__list {
  flex-direction: column;
  gap: 10px;
  background-color: $color-cerulean-blue;
  border-radius: 16px;
  max-height: 0;
  overflow: hidden;
  transition: transform $trans-default;
  transform: scale(0);
  word-wrap: break-word;
  word-break: break-word;
}

.nav__link {
  padding: 20px 0;
  color: $color-charcoal;
  line-height: 26px;

  &:hover,
  &:focus {
    color: $color-cerulean-blue;
  }

  &:active {
    color: $color-endeavour;
  }

  @include vp-767 {
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
  }
}

.nav--primary .nav__link {
  width: fit-content;
  margin: 2.5px 0;
  padding: 4px 20px 4px 10px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.6;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.9;
  }
}

.nav__main-link,
.nav__accordion-button {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 7px;
  line-height: 16px;
  letter-spacing: 0.32px;
  color: $color-default-white;
  opacity: 0.7;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
    font-weight: 500;
  }
}

.nav__accordion-button {
  background-color: transparent;
  border: none;

  &::after {
    content: "";
    width: 13px;
    height: 6px;
    margin-left: 9.5px;
    background-color: $color-default-white;
    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
    opacity: 0.7;
    transition: transform $trans-default;
  }

  &:disabled {
    pointer-events: none;
    color: $color-mischka;
  }
}

.nav__main-link.disabled {
  color: $color-mischka;
}

.nav__accordion-list {
  display: flex;
  flex-direction: column;
  padding: 0 13px;
}

.nav.is-open {
  max-width: 286px;

  &::after {
    opacity: 1;
    max-height: 1000vw;
  }
}

.nav.is-open .nav__list {
  align-items: flex-start;
  max-height: 100%;
  max-width: 286px;
  padding: 26px 25px 26px 18px;
  transform: scale(1);
}

.nav.is-open .nav__btn {
  justify-content: space-between;
  width: 100%;
  margin: 0;
  max-width: none;
  color: $color-default-white;
  background-color: $color-cerulean-blue;
}

.nav.is-open .nav__toggle {
  background-color: $color-default-white;
}

.nav.is-open .nav__toggle-decor {
  position: absolute;
  width: 23px;
  background-color: $color-cerulean-blue;

  &:nth-child(1n) {
    transform: rotate(-45deg);
  }

  &:nth-child(2n) {
    transform: rotate(45deg);
  }

  &:nth-child(3n) {
    display: none;
    top: 20.25px;
  }
}

.nav.is-open .nav__btn:hover,
.nav.is-open .nav__btn:focus,
.nav.is-open .nav__btn:active {
  background-color: $color-default-white;
  color: $color-cerulean-blue;
}

.nav.is-open .nav__btn:hover .nav__toggle,
.nav.is-open .nav__btn:focus .nav__toggle,
.nav.is-open .nav__btn:active .nav__toggle {
  background-color: $color-cerulean-blue;
}

.nav.is-open .nav__btn:hover .nav__toggle-decor,
.nav.is-open .nav__btn:focus .nav__toggle-decor,
.nav.is-open .nav__btn:active .nav__toggle-decor {
  background-color: $color-default-white;
}

.nav__list .nav__item--accordion.is-active .nav__accordion-list {
  padding: 0 13px;
}

.nav__list .nav__item--accordion.is-active .nav__main-link--primary::after {
  transform: rotate(180deg);
}
