.news {
  @include vp-767 {
    overflow: hidden;
  }
}

.news:has(.news__slider-controls) {
  @include vp-767 {
    // Нужно чтоб не было скачка при фокусе на кнопки слайдера
    margin-bottom: -13px;
  }
}

.news__inner {
  @include vp-1439 {
    gap: 30px;
  }

  @include vp-767 {
    gap: 24px;
  }
}

.news__title {
  &:not(:last-child) {
    margin-bottom: 6px;

    @include vp-1439 {
      margin-bottom: 0;
    }
  }

  @include vp-767 {
    margin-top: 1px;
    max-width: 100%;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

.news__tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include vp-1439 {
    gap: 11px;
  }

  @include vp-767 {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.news__tabs-btn {
  min-height: 38px;
  max-width: 100%;
  padding: 11px 26px;
  opacity: 0.6;
  border-color: transparent;
  word-break: break-word;

  @include vp-1439 {
    padding: 11px 19px;
  }

  @include vp-767 {
    min-height: 29px;
    padding: 4px 14px;
    word-break: normal;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: $color-cerulean-blue;
    opacity: 1;
  }

  &:disabled {
    color: $color-mischka;
  }
}

.news__tabs-btn.is-active {
  opacity: 1;
  border-color: $color-cerulean-blue;


  &:hover,
  &:focus {
    background-color: $color-cerulean-blue;
    color: $color-default-white;
    opacity: 1;
  }
}

.news__slider {
  width: 100%;
}

.news__slider .swiper-wrapper {
  @include vp-1439 {
    max-height: 730px;
  }
}

.news__card {
  max-width: 286px;
  min-height: 400px;
  padding: 10px 46px 0 0;

  &--primary {
    max-width: 604px;
    padding: 10px  215px 0 0;
  }

  @include vp-1439 {
    max-width: 324px;
    min-height: 350px;
    padding: 10px  84px 0 0;

    &--primary {
      max-width: 324px;
      padding: 10px 84px 0 0;
    }
  }

  @include vp-767 {
    max-width: 290px;
    min-height: 240px;
    padding: 10px 27px 0 0;

    &:nth-child(odd) {
      min-height: 330px;
    }
  }
}

.news__card .slider-card__title-wrapper {
  max-width: 214px;
  padding: 5px 5px 0 0;
  border-radius: 0 12px 0 0;
  background-color: $color-alabaster;

  @include vp-1439 {
    max-width: 207px;
    padding: 5px 5px 1px 0;
  }

  @include vp-767 {
    padding: 10px 0 4px;
  }
}

.news__card .slider-card__title-wrapper h3 {
  @include vp-1439 {
    max-width: 207px;
  }

  @include vp-767 {
    width: 200px;
  }
}

.news__card--primary .slider-card__title-wrapper {
  padding: 13px 0 2px;
  max-width: 291px;

  @include vp-1439 {
    max-width: 207px;
    padding: 6px 5px 0 0;
  }

  @include vp-767 {
    padding: 10px 0 4px;
  }
}

.news__card .slider-card__text-wrapper {
  position: relative;
  min-height: 57px;
  padding: 0 0 3px;
  border-radius: 0 12px 0 11px;
  background-color: $color-alabaster;

  @include vp-767 {
    justify-content: space-between;
    min-height: 52px;
    padding: 12px 10px 10px 0;
  }
}

.news__card--primary .slider-card__text-wrapper,
.news__card--secondary .slider-card__text-wrapper {
  @include vp-1439 {
    padding: 7px 0 10px;
  }

  @include vp-767 {
    padding: 12px 10px 10px 0;
  }
}

.news__card .slider-card__text-wrapper p {
  width: 176px;
}

.news__card--primary .slider-card__text-wrapper p {
  width: 83.6%;

  @include vp-1439 {
    width: 176px;
  }

  @include vp-767 {
    width: 200px;
  }
}

.news__slider-controls {
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    // Нужно чтоб не было скачка при фокусе на кнопки слайдера
    margin-bottom: 13px;
  }
}

.news__card .slider-card__text-decor {
  right: -17px;
  color: $color-alabaster;
}
