.numbered-item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 17px 0 0 20px;
  color: $color-default-white;
  background-color: $color-cerulean-blue;

  @include vp-767 {
    padding: 6px 0 0 15px;
  }
}

.numbered-item__inner {
  position: relative;
  width: 100%;
  padding: 22px 33px 22px 25px;
  border-radius: 16px;
  border: 1px solid $color-alabaster;

  &::after {
    content: counter(verse);
    position: absolute;
    top: -15px;
    left: -21px;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: $color-cerulean-blue;
    font-size: 22px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0.22px;
  }

  @include vp-1439 {
    min-height: 92px;
    padding: 25px 25px 25px 24px;
  }

  @include vp-767 {
    min-height: 58px;
    padding: 18px 25px 18px 24px;

    &::after {
      top: -5px;
      left: -14px;
      width: 28px;
      height: 31px;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.numbered-item p {
  margin: 0;

  @include vp-1439 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}

.numbered-item p br {
  @include vp-1439 {
    display: none;
  }
}
