.picture {
  display: flex;

  &--decor {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    user-select: none;
  }
}

.picture--overlay {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-cerulean-blue;
    opacity: 0.2;
  }
}

.picture picture,
.picture img,
.picture iframe {
  display: flex;
  width: 100%;
}
