.slider-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include vp-767 {
    position: absolute;
    top: 2px;
    right: 0;
    margin-top: 0;
  }
}


.slider-controls__btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end;
  margin-left: auto;

  @include vp-767 {
    gap: 8px;
  }
}

.slider-controls .slider-controls__btn {
  align-items: center;
  min-width: auto;
  min-height: auto;
  width: 22px;
  height: 22px;
  padding: 0;
  border: 1px solid transparent;
}

.slider-controls .swiper-pagination-horizontal.swiper-pagination {
  position: static;
  width: 91.45%;
  height: 2px;
  margin-top: 9px;

  @include vp-1439 {
    width: 82.6%;
  }

  @include vp-767 {
    display: none;
  }
}
