.slider-card,
.slider-card.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 12px;
  word-wrap: break-word;
  word-break: break-word;
}

.slider-card__picture-decor {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-card__picture-decor img,
.slider-card__picture-decor::after {
  border-radius: 12px;
}

.slider-card__link:hover .styled-link__decor,
.slider-card__link:focus .styled-link__decor {
  background-color: $color-default-white;
  color: $color-cerulean-blue;
}

.slider-card__link:hover .styled-link__decor svg,
.slider-card__link:focus .styled-link__decor svg {
  transform: rotate(45deg);
}

.slider-card__link:active .styled-link__decor {
  opacity: 0.7;
}

.slider-card__link:active h3,
.slider-card__link:active p,
.slider-card__link:active .slider-card__date {
  opacity: 0.7;
}


.slider-card__link.disabled .styled-link__decor {
  background-color: $color-mischka;
  opacity: 0.6;
}

.slider-card__link.disabled h3,
.slider-card__link.disabled p,
.slider-card__link.disabled .slider-card__date {
  opacity: 0.6;
  color: $color-mischka;
}

.slider-card__title-wrapper {
  position: relative;
  width: fit-content;
  min-width: 194px;
  max-width: 230px;
  padding: 13px 12.5px 2px 18px;
  border-radius: 12px 12px 0 0;
  background-color: $color-default-white;

  @include vp-1439 {
    min-width: 173px;
    padding: 13px 12.5px 1px 18px;
  }

  @include vp-767 {
    min-width: 146px;
    padding: 18px 12.5px 6px 18px;
  }
}

.slider-card__text-decor {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 1px;
  right: -18px;
  color: $color-default-white;
  pointer-events: none;
  user-select: none;

  &--date {
    top: -18px;
    left: 0;
  }
}

.slider-card__text-wrapper {
  min-height: 79px;
  padding: 11px 10px 14px 18px;
  border-radius: 0 12px 12px;
  background-color: $color-default-white;

  @include vp-1439 {
    min-height: 77px;
    padding: 6px 18px 9px;
  }

  @include vp-767 {
    min-height: 69px;
  }
}

.slider-card__link h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $color-cerulean-blue;

  @include vp-1439 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

.slider-card__link p {
  width: 239px;

  @include vp-1439 {
    width: 181px;
  }

  @include vp-767 {
    width: 188px;
  }
}

.slider-card__date-wrapper {
  position: relative;
  width: fit-content;
  max-width: 68%;
  padding: 1px 12.5px 0 0;
  background-color: $color-alabaster;
  border-radius: 0 12px 0 0;
}

.slider-card__date {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $color-cerulean-blue;
}
